<%=  for event <- @data.latest_block do %>
      <% aa=  event["type"] %>
      <% zz = event["CT"] %>
      <% cc = event["CC"] %>
  <%= if aa == "EV" && zz== "NCAAB Extra Games\r\n"|| cc=="HB-JAPTCM" do %>
  <%= event["CT"] %>
    <br>
  <%  vv=event["ID"]%>
  <%=link(event["NA"], to: URI.parse("http://localhost:4000/#{vv}"))%>
  <br>

score :   <%= event["SS"] %> <%= event["TM"] %>:<%= event["TS"] %>
    <br>

  <% end %>



<% end %>
